/* Universial Styling */
* {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #1E1E1E;
}

.spacing {
  padding: 200px 0;
}

.section-title {
  margin-left: 10px;
  z-index: -1;
}

.links {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #1E1E1E;
}

.links:hover {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #1E1E1E;
}

.row-spacing {
  margin-bottom: 100px;
}

/* Menu*/
.menu {
  margin: 25px;
}

.logo img{
  width: 50px;
}

/* Menu Button */
.menu-button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid rgba(30, 30, 30, 0.25);
}

.menu-button:hover {
  background-color: rgba(30, 30, 30, 0.25);
  border: none;
}

/* Menu Links */
.menu-list {
  display: none;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #1E1E1E;
}

.menu-list li {
  list-style-type: none;
}

.menu-list a {
  color: black;
  text-decoration: none;
}

.menu-list a:hover {
  text-decoration: none;
  color: rgba(30, 30, 30, 0.25);
}

/* Landing Section */
.phone {
  display: none;
}

.normal {
  display: block;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 160px;
  color: #1E1E1E;
}

.green-rect {
  height: 600px;
  background-color: rgba(144, 173, 130, 0.25);
  z-index: -1;
}

.job-descript {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #1E1E1E;
  text-align: right;
  white-space: nowrap;
  margin: 25px 0;
}

/* About Section */

.about {
  /* padding: 250px 0px; */
}

/* Projects Section */
.pT {
  left: -41px;
  position: relative;
}

.project-spacing {
  padding-bottom: 200px;
}

.projects h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #1E1E1E;
}

.right-just {
  text-align: right;
}

.just {
  text-align: justify;
}

.project-img {
  width: 100%;
}

.link-button {
  margin: 100px 0px;
}

.link-button a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgba(144, 173, 130, 0.50);
  text-decoration: none;
}

.link-button a:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgba(144, 173, 130, 0.25);
  text-decoration: none;
}

/* Resume Section */
.resume {
  /* padding: 250px 0px; */
}

.resume h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 80px;
  color: #1E1E1E;
}

.resume h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #1E1E1E;
}

.download-button a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgba(144, 173, 130, 0.50);
  text-decoration: none;
}

.download-button a:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgba(144, 173, 130, 0.25);
  text-decoration: none;
}

/* Contact Section */

.contact h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #1E1E1E;
}

.contact-links li {
  list-style: none;
}






/* Media Queries */
/* xs */
@media (max-width: 575.98px) {
  .headline {
    font-size: 100px;
    line-height: 80px;
  }

  .green-rect {
    height: 400px;
  }

  .job-descript {
    font-size: 25px;
  }

  .phone {
    display: block;
  }

  .normal {
    display: none;
  }

  .section-title {
    display: none;
  }

  .section-title-alt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 75px;
    color: rgba(144, 173, 130, 0.25);
    margin: 25px 0px;
  }

  .spacing {
    padding: 75px 0px;
  }

  .row-spacing {
    margin-bottom: 50px;
  }

}

/* sm */
@media (min-width: 576px) and (max-width: 767.98px) {
  .headline {
    font-size: 100px;
    line-height: 80px;
  }

  .green-rect {
    height: 400px;
  }

  .job-descript {
    font-size: 25px;
  }

    .phone {
      display: none;
    }

    .normal {
      display: block;
    }
}

/* md */
@media (min-width: 768px) and (max-width: 991.98px) {
  .headline {
    font-size: 135px;
    line-height: 108px;
  }

  .green-rect {
    height: 500px;
  }

  .job-descript {
    font-size: 25px;
  }
  .resume h3 {
    font-size: 20px;
  }

  .phone {
    display: none;
  }

  .normal {
    display: block;
  }
}

/* lg */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .headline {
    font-size: 175px;
    line-height: 140px;
  }

  .green-rect {
    height: 550px;
  }

  .resume h3 {
    font-size: 23px;
  }


  .phone {
    display: none;
  }

  .normal {
    display: block;
  }

}
