* {
  margin: 0;
  padding: 0;
}

.spacing {
  margin: 150px 0;
}

.section-title {
  transform: rotate(90deg);
  transform-origin: top;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 200px;
  color: rgba(144, 173, 130, 0.25);
}

.p {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #1E1E1E;
}

/* Menu*/
.menu {
  margin: 25px;
}

.logo img{
  width: 50px;
}

/* Menu Button */
.menu-button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid rgba(30, 30, 30, 0.25);
}

.menu-button:hover {
  background-color: rgba(30, 30, 30, 0.25);
  border: none;
}

/* Menu Links */
.menu-list {
  display: none;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #1E1E1E;
}

.menu-list li {
  list-style-type: none;
}

.menu-list a {
  color: black;
  text-decoration: none;
}

.menu-list a:hover {
  text-decoration: none;
  color: rgba(30, 30, 30, 0.25);
}

.menu-list a:active {
  /* text-decoration: none; */
  color: rgba(30, 30, 30, 0.25);
}

/* Landing Section */
.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 160px;
  color: #1E1E1E;
}

.green-rect {
  height: 600px;
  background-color: rgba(144, 173, 130, 0.25);
  z-index: -1;
}

.job-descript {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #1E1E1E;
  text-align: right;
  white-space: nowrap;
  margin: 25px 0;
}

/* About Section */

/* Resume Section */
.resume-row-spacing {
  margin: 50px 0;
}

.resume h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 80px;
  color: #1E1E1E;
}

.resume h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1E1E1E;
}

.resume-links {
  text-align: right;
}

.resume-links li {
  list-style: none;
}

.resume-links a{
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #1E1E1E;
}
.resume-links a:hover{
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #1E1E1E;
}

.download-button a, a:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgba(144, 173, 130, 0.25);
  text-decoration: none;
}



/* Media Queries */
/* xs */
@media (max-width: 575.98px) {
  .headline {
    font-size: 100px;
    line-height: 80px;
  }

  .green-rect {
    height: 400px;
  }

  .job-descript {
    font-size: 25px;
  }
}

/* sm */
@media (min-width: 576px) and (max-width: 767.98px) {
  .headline {
    font-size: 100px;
    line-height: 80px;
  }

  .green-rect {
    height: 400px;
  }

  .job-descript {
    font-size: 25px;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 991.98px) {
  .headline {
    font-size: 135px;
    line-height: 108px;
  }

  .green-rect {
    height: 500px;
  }

  .job-descript {
    font-size: 25px;
  }
}

/* lg */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .headline {
    font-size: 175px;
    line-height: 140px;
  }

  .green-rect {
    height: 550px;
  }
}
